{% extends "base.html" %}
{% block table %}
<body>
    <div class="container">
        {% for user in users %}
        <div class="card mb-3 bg-dark">
            <div class="card-body">
                <h5 class="card-title"><strong>Name:</strong> {{user.username}}</h5>
                <p class="card-text"><strong>Email:</strong> {{user.email}}</p>
                <p class="card-text"><strong>Address:</strong> {{user.address}}</p>
                <p class="card-text"><strong>Phone:</strong> {{user.phone}}</p>
                <div class="row">
                    <form method="POST" action="/edit" class="mr-2">
                        <button type="submit" class="btn btn-primary" name="id" value="{{user.id}}">
                            <i class="material-icons">edit</i> Edit
                        </button>
                    </form>
                    <form method="POST" action="/delete">
                        <button type="submit" class="btn btn-danger" name="id" value="{{user.id}}">
                            <i class="material-icons">delete</i> Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}
